[init]
	templatedir = ~/.gittemplates

[core]
	editor = vim
	excludesfile = ~/.gitignore
	symlinks = true

[web]
	browser = google-chrome

[push]
	default = matching

[color]
	ui = auto

[diff]
	tool = meld

[hub]
	protocol = ssh

[user]
	name = Tyler Stapler
	email = tystapler@gmail.com

[alias]
	meld = !git difftool -t meld --dir-diff

[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[url "git@github.com:"]
	insteadOf = https://github.com/

[rebase]
	instructionFormat = (%an <%ae>) %s

[http]
	cookiefile = ~/.gitcookies
[pull]
	rebase = true

[net]
git-fetch-with-cli = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
