[init]
	templatedir = ~/.gittemplates
[core]
	editor = vim
	excludesfile = ~/.gitignore
	symlinks = true
	hooksPath = $HOME/tylerstapler/.gittemplates
[web]
	browser = google-chrome
[push]
	default = matching
[color]
	ui = auto
[diff]
	tool = vimdiff
[hub]
	protocol = ssh
[user]
	name = Tyler Stapler
	email = tystapler@gmail.com
