version: '3.8'
services:
  vaping:
    build: .
    image: vaping:local
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run:/var/run
    cap_add:
      - NET_RAW
      - NET_ADMIN
    security_opt:
      - no-new-privileges:true
