extends sh

snippet ifcmd
if hash ${1:cmd} 2>/dev/null; then
	${2:${VISUAL}}
fi
endsnippet

snippet oscase
OS="`uname`"
case $OS in
  'Linux') $1
    ;;
  'FreeBSD')
    ;;
  'WindowsNT')
    ;;
  'Darwin') $2
    ;;
  'SunOS') ;;
  'AIX') ;;
  *) ;;
esac
endsnippet

snippet ifnoargs
if [ $# -eq 0 ] ; then
    echo '${2:Some message}'
    exit 1
fi
endsnippet
