snippet ifcmd
if hash ${1:cmd} 2>/dev/null; then
	${2:${VISUAL}}
fi
endsnippet

snippet oscase
OS="`uname`"
case $OS in
  'Linux') $1
    ;;
  'FreeBSD')
    ;;
  'WindowsNT')
    ;;
  'Darwin') $2
    ;;
  'SunOS') ;;
  'AIX') ;;
  *) ;;
esac
endsnippet
